.search-button {
  margin: 0 0 20px;
}

.search-button a {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  padding: .77rem 2.2rem;
  border-radius: 54px;
  background-color: #010c3f;
  text-align: center;
  font-size: .833rem;
  font-weight: 600;
  transition: background-color .25s;
}

.search-button a:hover {
  background-color: rgba(108, 65, 233, .7);
}