.track-list {
  width: 72%;
  height: 440px;
  overflow-y: scroll;
  padding: 0 10%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media screen and (min-height: 1079px) {
  .track-list {
    height: 660px;
  }
}

@media all and (max-width: 800px) {
  .track-list {
    height: 60%;
  }
}

@media all and (max-width: 340px) {
  .track-list {
    height: 50%;
  }
}