.history-item {
  display: flex;
  align-items: center;
  margin: 20px;
  max-height: 35px;
  padding: .88rem .55rem;
  background-color: rgba(1, 12, 63, .7);
  box-shadow: 0 2.2px 1.2px 1.2px #000;
  border-radius: 0 55px 55px 0;
}

.history-item-action {
  cursor: pointer;
  padding: 1.6rem;
  font-size: .8rem;
  transition: color .25s;
}

.history-item-action:hover {
  color: rgba(265, 265, 265, .5);
}

.history-item-information {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.note-container {
  max-width: 80px;
  min-width: 80px;
}

.history-notes-double {
  font-size: 2rem;
}

.history-notes {
  font-size: 3rem;
  width: 64px;
  height: 64px;
  margin-left: .8rem;
}

.history-item-data {
  display: block;
  max-width: 13.8rem;
}

.history-item-data h3 {
  margin: .4rem 0;
  max-height: 1.35rem;
  overflow: hidden;
}

.history-item-data p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: .82rem;
  font-weight: 300;
  color: rgba(256, 256, 256, .8);
  max-height: 1rem;
  overflow: hidden;
}

span {
  color: #6c41ec;
}

@media all and (max-width: 800px) {
  .history-item {
    justify-content: space-between;
  }

  .history-item-data h3 {
    font-size: .92rem;
  }

  .history-item-data {
    max-width: 54%;
  }

  .history-item-information {
    max-width: 68%;
    min-width: 68%;
  }

  .history-item-data p {
    font-size: .62rem;
  }

  .history-item-action {
    padding: 0 .9rem 0 0;
    font-size: .68rem;
    font-weight: 600;
  }
}