.image-small {
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.details-container-small ul {
  list-style: none;
  padding: 0;
  margin: 0 0 .75rem 1rem;
}

.details-container-small {
  margin: .8rem 0 .8rem 3.8rem;
  min-width: 500px;
  max-width: 500px;
  max-height: 200px;
  display: flex;
  background-color: rgba(1, 12, 63, .7);
  box-shadow: 0 2.2px 1.2px 0 #000;
  border-radius: 0 15px 15px 0;
}

.details-container-small h2 {
  margin: 0.8rem 0 0 .9rem;
  max-width: 15rem;
  max-height: 6rem;
  overflow: hidden;
  font-size: 1.8rem;
  text-align: left;
  cursor: pointer;
}

.details-info-small {
  min-width: 250px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-action-small {
  cursor: pointer;
  font-size: 1.6rem;
  padding: .2rem .4rem;
  height: 60px;
}

.details-and-toggle {
  min-width: 300px;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}