body,
html,
#root {
  font-size: 18px;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.displayCurrentUser {
  color: #6c41ec;
  margin-right: 2rem;
}

.navigation-text-link {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.12rem;
  color: #fff;
  margin-right: 1.8rem;
  margin-top: 1.2rem;
  display: inline-block;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: #010c3f;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.logo {
  text-decoration: none;
}

.logo h1 {
  margin: 0;
  margin: .8rem 2rem;
  background-color: #010c3f;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: #fff;
}

.highlight,
.logo h1:hover,
.navigation-text-link:hover {
  color: #6c41ec;
}

.app {
  height: 100%;
  background-image: url('./background_photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}