body,
html,
#root {
  font-size: 18px;
  height: 100%;
  /* text-decoration: 'none'; */
}

.displayCurrentUser {
  color: #6c41ec;
  margin-right: 2rem;
}

.displayCurrentUser:hover {
  cursor: pointer;
}

.navigation-text-link {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.12rem;
  color: #fff;
  margin-right: 1.8rem;
  margin-top: 1.2rem;
  display: inline-block;
}

.navigation-text-link:hover {
  color: #6c41ec;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: #010c3f;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.logo {
  text-decoration: none;
}

.logo h1 {
  margin: 0;
  margin: .8rem 2rem;
  background-color: #010c3f;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: #fff;
}

.logo h1:hover {
  color: #6c41ec;
}

.highlight {
  color: #6c41ec;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  background-image: url('./background_photo_desktop.jpg');
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}