.greeting-container {
  text-align: center;
}

.greeting-container h1 {
  font-size: 5.2rem;
  margin: 1rem 0 1.2rem;
  cursor: pointer;
}

.greeting-container p {
  margin: 1.125rem 0;
  line-height: 1.2rem;
}

.greeting-container span {
  font-weight: 600;
}

.text-container {
  background-color: rgba(1, 12, 63, .7);
  width: 40%;
  margin: auto;
  padding: .9rem;
  border-radius: .8rem;
}

.scissors {
  font-size: 5rem;
  position: relative;
  left: 12rem;
  bottom: 1.8rem
}

.click-arrow {
  width: 69px;
  height: 69px;
  background-image: url('./click-arrow.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 26.8rem;
  left: 54.4rem;
}