.greeting-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.greeting-main {
  display: flex;
  justify-content: center;
}

.greeting-container h1 {
  display: flex;
  justify-content: center;
  font-size: 5.2rem;
  margin: 1rem 0 1.2rem;
  cursor: pointer;
}

.greeting-container p {
  margin: 1.125rem 0;
  line-height: 1.2rem;
}

.greeting-container span {
  font-weight: 600;
}

.hidden-container {
  position: relative;
}

.text-container {
  background-color: rgba(1, 12, 63, .7);
  box-shadow: 0 2.2px 1.2px 1.2px #000;
  width: fit-content;
  padding: 1px 26px 18px;
  border-radius: 22px;
}

.scissors {
  font-size: 5rem;
  position: absolute;
  left: 400px;
  top: 176px;
}

.click-arrow {
  width: 69px;
  height: 69px;
  background-image: url('./click-arrow.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 100%;
  bottom: 70%;
}

.greeting-header-container {
  position: relative;
}

@media screen and (min-height: 1079px) {
  .greeting-main {
    margin: 5% 0 1.2rem;
  }

  .greeting-container h1 {
    font-size: 7.2rem;
  }

  .hidden-container {
    margin: 0 auto;
  }
  
  .click-arrow {
    width: 82px;
    height: 82px;
  }
}