img {
  height: 420px;
  max-width: 440px;
}

.details-container {
  margin: auto 12.8rem;
  width: 60%;
  min-width: 60%;
  display: flex;
  background-color: rgba(1, 12, 63, .7);
  box-shadow: 0 2.2px 1.2px 0 #000;
  border-radius: 0 15px 15px 0;
}

.details-container ul {
  list-style: none;
  max-height: 11.5rem;
  overflow-y: scroll;
}

.details-container h2 {
  margin: 1.5rem 1rem 0 1.9rem;
  max-width: 19.2rem;
  max-height: 6rem;
  overflow: hidden;
  font-size: 2.8rem;
  text-align: left;
}

.details-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-action {
  position: absolute;
  left: 57.175rem;
  cursor: pointer;
  font-size: 2.2rem;
  padding: .2rem .8rem;
}