img {
  object-fit: cover;
}

.details-container img {
  height: 420px;
  max-width: 440px;
  min-width: 440px;
}

.details-main {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.details-container {
  position: relative;
  width: 900px;
  min-width: 900px;
  display: flex;
  background-color: rgba(1, 12, 63, .7);
  box-shadow: 0 2.2px 1.2px 0 #000;
  border-radius: 0 15px 15px 0;
}

.details-container ul {
  list-style: none;
  max-height: 11.68rem;
  overflow-y: scroll;
}

.details-container h2 {
  margin: 1.5rem 0 0 1.9rem;
  max-height: 6.5rem;
  overflow: hidden;
  font-size: 2.8rem;
  text-align: left;
}

.details-info {
  width: 392px;
  min-width: 392px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-action {
  position: absolute;
  right: -3px;
  cursor: pointer;
  font-size: 2.2rem;
  padding: .2rem .8rem;
}